<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="../../static/app/content/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../static/app/content/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - LAMBORG </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">LAMBORG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     
                    <a class="nav-item nav-link active" href="{% url 'home' %}">Главная</a>
                    <a class="nav-item nav-link" href="{% url 'blog' %}">Статьи</a>
                    <a class="nav-item nav-link" href="{% url 'contact' %}">Контакты</a>
                    <a class="nav-item nav-link" href="../../../shop">Товары</a>
                
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'registration' %}">Регистрация</a></>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a class="nav-item nav-link" href="{% url 'newpost' %}">Добавление статьи</a></li>
                                {% endif %}
                   
                </ul>


    </div>

  </div>
                   <span class="navbar-text">
                                    {% include 'app/loginpartial.html' %}
                        </span>
</nav>
    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} LAMBORG</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
