{% extends "app/layout.html" %}

{% block content %}
<h2>{{ message }}</h2>
<!-♕ -->
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <h3>Сайт Теневира</h3>
            <p>
                <img src="../../static/app/content/2.jpg" width="100%"  alt="Фото Тенерифа" />
            </p>
            <p>
                <a class="btn btn-default" href="https://www.visittenerife.ru/">Поехали..&raquo;</a>
            </p>
        </div>
    </div>



    <div class="col-md-4">
        <div class="jumbotron">
            <h3>Сайт Урала</h3>
            <p>
                <img src="../../static/app/content/3.jpg" width="100%" alt="Фото Ямантау" />
            </p>
            <p> 
                <a class="btn btn-default" href="https://uraloved.ru/">Поехали..&raquo;</a>
            </p>
            </div>
    </div>



    <div class="col-md-4">
        <div class="jumbotron">
            <h3>Сайт Еватории</h3>
            <p>
                <img src="../../static/app/content/4.jpg" width="100%" alt="Фото Еватории" />
            </p>
            <p>
                <a class="btn btn-default" href="https://www.evpatoriya-online.ru/dostoprimechatelnosti-evpatorii.php">Поехали..&raquo;</a>
            </p> 
            </div>
    </div>
    </div>
{% endblock %}
